*{
    padding: 0;
    margin: 0;
}
body {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container {
    background-color: white;
    width: 1152px;
    height: 700px;
    display: flex;
    gap: 2rem;
}
.left {
    background-image: url('./Group\ 7.png');
    background-repeat: no-repeat;
    width: 40%;
    padding-left: 28px;
    color: white;
}
.kodecamp {
    margin-top: 39px;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Playfair display,';
    line-height: 39.99px;
}
.txt {
    margin-top: 322px;
}
p.head {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
p.sub {
    font-weight: 700;
    font-size: 20px;
    line-height: 26.66px;
    font-family: 'Playfair Display';
}
.right {
    width: 50%;
    padding-top: 30px;
}
.img {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}
form {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.sign_up {
    font-family: 'Fairplay display';
    font-size: 30px;
    line-height: 39.99px;
    font-weight: 700;
    color:#086DB8;
}
.name {
    display: flex;
    margin-top: 30px;
    gap: 5rem;
}
.fname {
    width: 40%;
}
.fname label {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.99px;
    padding-bottom: 20px;
}
.fname input {
    border: 1px solid black;
    border-radius: 4px;
    height: 40px;
    width: 277px;
}
.lname {
    width: 40%;
}
.lname label {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.99px;
    padding-bottom: 20px;
}
.lname input {
    border: 1px solid black;
    border-radius: 4px;
    height: 40px;
    width: 277px;
}
.lname select {
    border: 1px solid black;
    border-radius: 4px;
    height: 53px;
    width: 300px;
}