*{
    padding: 0;
    margin: 0;
}
body {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container {
    background-color: white;
    width: 1152px;
    height: 700px;
    display: flex;
    gap: 0.5rem;
}
.left {
    background-image: url('./Group\ 7.png');
    background-repeat: no-repeat;
    width: 40%;
    padding-left: 30px;
    color: white;
}
.kodecamp {
    margin-top: 30px;
    font-weight: bolder;
}
.right {
    width: 55%;
    padding-top: 30px;
}
.img {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}
